@charset "UTF-8";
@font-face {
  font-family: "Lustria";
  src: url("/fonts/Lustria-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Share Tech Mono";
  src: url("/fonts/ShareTechMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Teko";
  src: url("/fonts/Teko-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display SC";
  src: url("/fonts/PlayfairDisplaySC-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Arphic Kaiti";
  src: url("/fonts/KAI00MP.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans TC";
  src: url("/fonts/NotoSansTC-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "BenchNine";
  src: url("/fonts/BenchNine-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Adamina";
  src: url("/fonts/Adamina-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.block {
  width: 50px;
  height: 50px;
  background-color: rgba(247, 118, 118, 0.5);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.block::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgba(128, 181, 197, 0.7);
  position: absolute;
  top: -10px;
  right: 15px;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* 確保 loading 在最上層 */
}
#loading .loading-icon {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #dedede;
}

header {
  position: fixed;
  bottom: 0;
  left: 0px;
  z-index: 999;
  width: 100%;
  height: 60px;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
  border-radius: 12px 12px 0 0;
}
header nav {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: #222;
  border-radius: 12px 12px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .nav-title {
  color: #e0e0e0;
  font-size: 2rem;
  margin-left: 20px;
  font-family: "Teko", serif;
  letter-spacing: 5px;
  z-index: 2;
}
header nav ul {
  width: 100%;
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  transform: scale(1, 0);
  transition: all 0.45s ease-in-out;
  transform-origin: bottom;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 80px;
  grid-gap: 8px 0;
  align-items: center;
}
header nav ul::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #171321;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 16px 16px 0 0;
  z-index: -1;
}
header nav ul li {
  width: 100%;
}
header nav ul li .nav-menu {
  width: 100%;
  color: #e0e0e0;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav ul li .nav-menu hr {
  width: 100%;
  height: 2px;
  margin-top: 15px;
  background-color: #333;
  border: none;
}
header nav ul li a {
  height: 100px;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 550;
  font-family: "Noto Sans TC", serif;
  color: #e0e0e0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
header nav ul li svg {
  width: 30px;
  height: 30px;
  margin: 24px 0 12px;
  fill: #e0e0e0;
}
header nav .menu-toggle {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  z-index: 999;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .menu-toggle.open .menu-icon {
  transform: translateX(10px);
  background-color: transparent;
}
header nav .menu-toggle.open .menu-icon::before {
  transform: rotate(45deg) translate(-7px, 7px);
}
header nav .menu-toggle.open .menu-icon::after {
  transform: rotate(-45deg) translate(-7px, -7px);
}
header nav .menu-toggle .menu-icon {
  width: 100%;
  height: 3px;
  background: #e0e0e0;
  border-radius: 3px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
header nav .menu-toggle .menu-icon::after, header nav .menu-toggle .menu-icon::before {
  content: "";
  width: 100%;
  height: 3px;
  background: #e0e0e0;
  border-radius: 3px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
header nav .menu-toggle .menu-icon::after {
  transform: translateY(-8px);
}
header nav .menu-toggle .menu-icon::before {
  transform: translateY(8px);
}

.cover {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cover .bg-img-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #000;
  overflow: hidden;
  position: absolute;
  z-index: -2;
}
.cover .bg-img-wrapper .bg-img {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://microbot.ch/new/wp-content/uploads/2017/11/signal_lost_microbot_ch.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  color: #c9c9c9;
  position: absolute;
}
.cover .bg-img-wrapper .bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none;
}
.cover .title {
  font-size: 2.5rem;
  font-family: "Teko", sans-serif;
  color: #bdc591;
  text-shadow: 0 0 20px #eaf89a;
  letter-spacing: 10px;
  text-align: center;
}
.cover .title span {
  display: block;
}
.cover .title-scroll {
  font-size: 0.6rem;
  letter-spacing: 3px;
  color: #c9c9c9;
  position: relative;
  top: calc(50vh - 25%);
}

main {
  width: 100%;
  font-family: "Playfair Display SC", serif;
  position: relative;
}
main .top {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 80px;
  right: 15px;
  z-index: 998;
  background-color: #6358b3;
  border-radius: 50%;
  display: none;
}
main .top a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .top a img {
  width: 1.5rem;
  height: 1.5rem;
}
main .about-me-section {
  background: linear-gradient(#222, #171321);
}
main .about-me {
  min-height: 100vh;
}
main .about-me .about-me-describe {
  width: 100%;
  text-align: center;
  padding: 80px 0 0;
  margin-bottom: -10px;
  font-size: 0.9rem;
  color: #bbb;
}
main .about-me .about-me-title {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  padding-top: 0;
  color: #e0e0e0;
  text-align: center;
  font-size: 3rem;
  position: relative;
  z-index: 1;
}
main .about-me .about-me-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 260px 1fr;
  justify-items: center;
  align-items: center;
}
main .about-me .about-me-wrapper .title-image-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-me .about-me-wrapper .title-image-info .about-me-img-wrapper {
  width: 50%;
  position: relative;
  height: 100%;
}
main .about-me .about-me-wrapper .title-image-info .about-me-img-wrapper img {
  height: 250px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 1;
}
main .about-me .about-me-wrapper .title-image-info .about-me-banner {
  width: 50%;
  height: 100%;
  color: #e0e0e0;
  grid-row: 2;
  align-self: start;
  font-family: "BenchNine", "Noto Sans TC", serif;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
main .about-me .about-me-wrapper .title-image-info .about-me-banner .intro {
  width: 100%;
  font-size: 1rem;
  padding-bottom: 4px;
  margin-bottom: 12px;
  border-bottom: 2px solid rgba(110, 91, 72, 0.9);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-me .about-me-wrapper .title-image-info .about-me-banner .intro:nth-child(1) {
  letter-spacing: 1.5px;
  padding-top: 15px;
}
main .about-me .about-me-wrapper .title-image-info .about-me-banner .intro:nth-child(2) {
  letter-spacing: 1.5px;
}
main .about-me .about-me-wrapper .title-image-info .about-me-banner .intro:nth-child(3) {
  letter-spacing: 1px;
  margin-bottom: 20px;
}
main .about-me .about-me-wrapper .title-image-info .about-me-banner .intro svg {
  margin-right: 10px;
  width: 1.5rem;
}
main .about-me .about-me-wrapper .title-image-info .about-me-banner .intro svg path {
  fill: #e0e0e0;
}
main .about-me .about-me-wrapper .title-image-info .about-me-banner .social-media {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-me .about-me-wrapper .title-image-info .about-me-banner .social-media svg path {
  fill: #e0e0e0;
}
main .about-me .about-me-wrapper .title-image-info .about-me-banner .social-media .facebook {
  margin: 0 14px;
}
main .about-me .about-me-wrapper .profile-paragraph {
  width: 100%;
  margin: 20px 0 5rem;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  font-family: "BenchNine", "Noto Sans TC", serif;
  letter-spacing: 0.5px;
}
main .about-me .about-me-wrapper .profile-paragraph::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
  border: 3px solid rgba(110, 91, 72, 0.9);
  border-radius: 10px;
  z-index: -1;
}
main .about-me .about-me-wrapper .profile-paragraph .profile-title {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  border-bottom: 2px solid #444;
}
main .about-me .about-me-wrapper .profile-paragraph .profile {
  margin: 10px;
}
main .about-me .about-me-wrapper .profile-paragraph .block-profile {
  width: 230px;
  height: 380px;
  border: 4px solid rgba(247, 118, 118, 0.5);
  position: absolute;
  top: 0px;
  left: 30px;
  z-index: -1;
}
main .about-me .about-me-wrapper .profile-paragraph .block-profile::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(255, 222, 172);
  position: absolute;
  top: 20px;
  left: -30px;
  z-index: -2;
}
main .qualification-section {
  background-color: #fff;
  padding-bottom: 80px;
}
main .qualification-section .qualification {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .qualification-section .qualification .qualification-title-describe {
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 1px;
}
main .qualification-section .qualification .qualification-title {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 2.5rem;
  position: relative;
  z-index: 1;
}
main .qualification-section .qualification .qualification-title .block {
  bottom: 0;
  right: 0;
}
main .qualification-section .qualification .cards {
  width: 100%;
}
main .qualification-section .qualification .cards .card {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 30px;
  font-family: "Noto Sans TC", serif;
}
main .qualification-section .qualification .cards .card:first-child {
  margin-top: 4rem;
}
main .qualification-section .qualification .cards .card .education-icon, main .qualification-section .qualification .cards .card .work-icon {
  width: 1.8rem;
  margin-right: 1rem;
}
main .qualification-section .qualification .cards .card .icon {
  width: 1.2rem;
  height: 1.2rem;
}
main .qualification-section .qualification .cards .card .title {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.3rem;
  font-family: "Lustria", serif;
  font-weight: 700;
  color: #664519;
  display: flex;
  align-items: center;
  position: relative;
}
main .qualification-section .qualification .cards .card .title::after {
  content: "";
  height: 10px;
  position: absolute;
  bottom: 5px;
  left: 30px;
  right: -10px;
  background-color: rgba(199, 144, 149, 0.6705882353);
  border-radius: 10px;
  z-index: -1;
}
main .qualification-section .qualification .cards .card h2 {
  font-size: 1rem;
  margin: 10px 0 5px;
  padding: 4px 0;
  color: #725735;
}
main .qualification-section .qualification .cards .card h3 {
  padding: 4px 0;
  font-size: 0.7rem;
  color: #666;
}
main .learning-experience-section {
  background-color: #fff;
}
main .learning-experience-section .learning-experience .learning-experience-title {
  width: 100%;
  text-align: center;
}
main .learning-experience-section .learning-experience .learning-experience-title .learning-experience-title-describe {
  padding-top: 60px;
  font-size: 0.8rem;
}
main .learning-experience-section .learning-experience .learning-experience-title .learning-experience-title-main {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 2.2rem;
  position: relative;
  z-index: 1;
}
main .learning-experience-section .learning-experience .learning-experience-title .learning-experience-title-main > span {
  display: block;
}
main .learning-experience-section .learning-experience .learning-cards {
  padding-bottom: 3rem;
  width: 100%;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card {
  width: 90%;
  margin: 2.5rem auto;
  background-color: #fbfbfb;
  box-shadow: 24px 24px 24px 0 #c9c9c9;
  border-radius: 24px;
  font-family: "Noto Sans TC", serif;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card .alphacamp-image {
  width: 100%;
  height: 280px;
  background-image: url("./images/alpha-logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 1px solid #c9c9c9;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card .udemy-image {
  width: 90%;
  height: 280px;
  margin: 0 auto;
  background-image: url("./images/Udemy-logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card .describe {
  background-color: #f5f6f7;
  border-radius: 0 0 24px 24px;
  border-top: 1px solid #c9c9c9;
  padding: 0 12px;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card .describe h1 {
  margin: 12px 0;
  font-size: 1.5rem;
  font-weight: 700;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card .describe .learning-card-describle {
  font-size: 1.15rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card .describe .learn-more-btn {
  margin: 1.2rem 0;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #beaaa0;
  font-size: 1.15rem;
  cursor: pointer;
}
main .skills-section {
  background-color: #fff;
}
main .skills-section .skills {
  padding-bottom: 16px;
}
main .skills-section .skills .skills-title {
  text-align: center;
}
main .skills-section .skills .skills-title-describe {
  padding-top: 60px;
  font-size: 0.8rem;
}
main .skills-section .skills .skills-title-main {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  font-size: 3rem;
}
main .skills-section .skills .skills-title-frontend, main .skills-section .skills .skills-title-backend {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 2.3rem;
  font-size: 1.25rem;
  font-family: serif;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
main .skills-section .skills .skills-title-frontend::after, main .skills-section .skills .skills-title-backend::after {
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 10px;
  background-color: rgba(199, 144, 149, 0.6705882353);
  border-radius: 10px;
  z-index: -1;
}
main .skills-section .skills .skills-cards {
  width: 80%;
  margin: 2rem auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
}
main .skills-section .skills .skills-cards .skills-card {
  padding: 5px;
  background-color: inherit;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .skills-section .skills .skills-cards .skills-card::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 12px 12px 16px 0 #c9c9c9;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
main .skills-section .skills .skills-cards .skills-card h1 {
  font-family: "Teko";
  letter-spacing: 1px;
  font-size: 1.3rem;
}
main .skills-section .skills .skills-cards .skills-card h2 {
  font-family: serif;
  font-size: 1.1rem;
  color: #5e5e5e;
}
main .skills-section .skills .skills-cards .skills-card .skills-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #d1ad8a;
  box-shadow: 0 0 5px 1px #d1ad8a;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .skills-section .skills .skills-cards .skills-card .skills-img .skills-icon {
  width: 3.5rem;
}/*# sourceMappingURL=style.css.map */