@font-face {
  font-family: "Lustria";
  src: url("/fonts/Lustria-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Share Tech Mono";
  src: url("/fonts/ShareTechMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Teko";
  src: url("/fonts/Teko-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Playfair Display SC";
  src: url("/fonts/PlayfairDisplaySC-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Sans TC";
  src: url("/fonts/NotoSansTC-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "BenchNine";
  src: url("/fonts/BenchNine-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
}
body.dark-mode {
  --MainBGBlack: #222;
  --SecondBGBlack: #2f2f2f;
  --TextColor: #e0e0e0;
  --DescribeColor: #bbb;
  --describe-h2: #c0c0c0;
  --ulBG: #66666630;
  --ul-text: #c9c9c9;
  --white: #f0f0f0;
  --SecondWhite: #c9c9c9;
  --learningCard-background: #ddd;
  --learningCard-boxshadow: transparent;
  --learning-describe-bg: #616161;
  --skills-card-boxshadow: #111;
  --cover-title: #5a636a;
  --cover-title-shadow: #969696;
  --cover-click-me: #132d46;
  --cover-btn-first: #708f96;
  --cover-btn-second: #364649;
  --mainColor: #968276;
}

body.light-mode {
  --MainBGBlack: #f0f0f0;
  --SecondBGBlack: #f8f8f8;
  --TextColor: #111;
  --DescribeColor: #222;
  --describe-h2: #5e5e5e;
  --ulBG: #f0f0f060;
  --ul-text: #333;
  --white: #232323;
  --SecondWhite: #656565;
  --learningCard-background: #f0f0f0;
  --learningCard-boxshadow: #dbdbdb;
  --learning-describe-bg: #f5f6f7;
  --skills-card-boxshadow: #b5b6b7;
  --cover-title: #acaa5a;
  --cover-title-shadow: #fde9a6;
  --cover-click-me: #e09132;
  --cover-btn-first: #e0d8cc;
  --cover-btn-second: #aa895f;
  --mainColor: #968276;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.block {
  width: 50px;
  height: 50px;
  background-color: rgba(247, 118, 118, 0.5);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.block::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgba(128, 181, 197, 0.7);
  position: absolute;
  top: -10px;
  right: 15px;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  height: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.cover {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.cover .moon-icon {
  background-image: url("./images/icons/moon-svgrepo-com.svg");
  width: 25px;
  height: 25px;
  margin-right: 16px;
  position: absolute;
  top: 16px;
  right: 0;
}
.cover .menu-toggle {
  height: 120px;
  width: 150px;
  z-index: 999;
  position: absolute;
  top: calc(50% + 8px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-img-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #000;
  overflow: hidden;
  position: absolute;
  z-index: -2;
}
.bg-img-wrapper .bg-img {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background-image: url("./images/coverComputer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  color: var(--white);
  position: absolute;
}
.bg-img-wrapper .bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none;
}

.cover-title {
  margin-top: 10rem;
  font-size: 2.5rem;
  font-family: "Teko", sans-serif;
  color: var(--cover-title);
  text-shadow: 0 0 16px var(--cover-title-shadow);
  letter-spacing: 10px;
  text-align: center;
  opacity: 0;
}
.cover-title span {
  display: block;
}

.cover-click-me {
  font-family: "Noto Sans TC", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 4px), calc(-50% + 4px));
  padding: 5px;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1px;
  color: var(--TextColor);
  background: radial-gradient(circle, var(--cover-btn-first), var(--cover-btn-second));
  box-shadow: 0 0 50px 10px #e0e0e0;
}

.cover-border {
  width: 190px;
  height: 160px;
  opacity: 0.3;
  border-radius: 4px;
  position: absolute;
  top: calc(50% + 8px);
  left: calc(50% + 3px);
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #fff 2px, transparent 4px) 0 0, linear-gradient(to right, #fff 2px, transparent 4px) 0 100%, linear-gradient(to left, #fff 2px, transparent 4px) 100% 0, linear-gradient(to left, #fff 2px, transparent 4px) 100% 100%, linear-gradient(to bottom, #fff 2px, transparent 4px) 0 0, linear-gradient(to bottom, #fff 2px, transparent 4px) 100% 0, linear-gradient(to top, #fff 2px, transparent 4px) 0 100%, linear-gradient(to top, #fff 2px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
.cover-border::after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1.15);
  transform-origin: center center;
  background: linear-gradient(to right, #fff 2px, transparent 4px) 0 0, linear-gradient(to right, #fff 2px, transparent 4px) 0 100%, linear-gradient(to left, #fff 2px, transparent 4px) 100% 0, linear-gradient(to left, #fff 2px, transparent 4px) 100% 100%, linear-gradient(to bottom, #fff 2px, transparent 4px) 0 0, linear-gradient(to bottom, #fff 2px, transparent 4px) 100% 0, linear-gradient(to top, #fff 2px, transparent 4px) 0 100%, linear-gradient(to top, #fff 2px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

ul {
  width: 100%;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  z-index: 999;
  transition: all 0.45s ease-in-out;
  transform-origin: center;
  background: center/cover no-repeat var(--ulBG);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px repeat(6, 70px) 40px;
  align-items: center;
}
ul::after {
  content: "";
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
ul li {
  width: 100%;
}
ul li:first-child {
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
}
ul li:first-child .close-icon {
  margin-right: 16px;
  margin-top: 12px;
}
ul li:first-child .close-icon path {
  fill: var(--ul-text);
}
ul li .nav-menu {
  width: 100%;
  color: var(--TextColor);
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul li .nav-menu hr {
  width: 100%;
  height: 2px;
  margin-top: 15px;
  background-color: #333;
  border: none;
}
ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  color: var(--ul-text);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li a:hover, ul li a:hover svg {
  color: var(--mainColor);
  fill: var(--mainColor);
}
ul li a svg {
  width: 30px;
  height: 30px;
  margin-right: 16px;
  fill: var(--TextColor);
  pointer-events: none;
}

main {
  width: 100%;
  font-family: "Playfair Display SC", serif;
  position: relative;
}
main .top {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 998;
  background-color: var(--mainColor);
  border-radius: 50%;
  display: none;
}
main .top a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .top a img {
  width: 1.5rem;
  height: 1.5rem;
}
main .about-me-section {
  background: var(--MainBGBlack);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
main .about-me-section #about-me {
  height: inherit;
}
main .about-me-section #about-me .about-me-describe {
  width: 100%;
  text-align: center;
  padding: 80px 0 0;
  margin-bottom: -10px;
  font-size: 0.9rem;
  color: var(--DescribeColor);
}
main .about-me-section #about-me .about-me-title {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  padding-top: 0;
  color: var(--TextColor);
  text-align: center;
  font-size: 3rem;
  position: relative;
  z-index: 1;
}
main .about-me-section #about-me .about-me-wrapper {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 260px 1fr;
  justify-items: center;
  align-items: center;
}
main .about-me-section #about-me .about-me-wrapper .title-image-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-me-section #about-me .about-me-wrapper .title-image-info .about-me-img-wrapper {
  width: 50%;
  position: relative;
  height: 100%;
}
main .about-me-section #about-me .about-me-wrapper .title-image-info .about-me-img-wrapper img {
  height: 250px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 1;
}
main .about-me-section #about-me .about-me-wrapper .title-image-info .about-me-banner {
  width: 50%;
  height: 100%;
  color: var(--TextColor);
  grid-row: 2;
  align-self: start;
  font-family: "BenchNine", "Noto Sans TC", serif;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
main .about-me-section #about-me .about-me-wrapper .title-image-info .about-me-banner .intro {
  width: 100%;
  font-size: 1.15rem;
  padding-bottom: 4px;
  margin-bottom: 12px;
  border-bottom: 2px solid var(--mainColor);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-me-section #about-me .about-me-wrapper .title-image-info .about-me-banner .intro:nth-child(1) {
  letter-spacing: 1.5px;
  padding-top: 15px;
}
main .about-me-section #about-me .about-me-wrapper .title-image-info .about-me-banner .intro:nth-child(2) {
  letter-spacing: 1.5px;
}
main .about-me-section #about-me .about-me-wrapper .title-image-info .about-me-banner .intro:nth-child(3) {
  letter-spacing: 1px;
  margin-bottom: 20px;
}
main .about-me-section #about-me .about-me-wrapper .title-image-info .about-me-banner .intro svg {
  margin-right: 10px;
  width: 25px;
}
main .about-me-section #about-me .about-me-wrapper .title-image-info .about-me-banner .intro svg path {
  fill: var(--TextColor);
}
main .about-me-section #about-me .about-me-wrapper .title-image-info .about-me-banner .social-media {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-me-section #about-me .about-me-wrapper .title-image-info .about-me-banner .social-media svg path {
  fill: var(--TextColor);
}
main .about-me-section #about-me .about-me-wrapper .title-image-info .about-me-banner .social-media .facebook {
  margin: 0 14px;
}
main .about-me-section #about-me .about-me-wrapper .profile-paragraph {
  width: 100%;
  margin: 20px 0 4rem;
  border-radius: 10px;
  position: relative;
  font-family: "BenchNine", "Noto Sans TC", serif;
  letter-spacing: 1px;
}
main .about-me-section #about-me .about-me-wrapper .profile-paragraph .profile-title {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 2rem;
  letter-spacing: 5px;
  text-align: center;
  color: var(--TextColor);
  border-bottom: 2px solid var(--mainColor);
}
main .about-me-section #about-me .about-me-wrapper .profile-paragraph .profile {
  margin: 16px 12px;
  font-size: 0.9rem;
  color: var(--TextColor);
}
main .qualification-section {
  background: var(--SecondBGBlack);
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}
main .qualification-section #qualification {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .qualification-section #qualification .qualification-title-describe {
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 1px;
  color: var(--DescribeColor);
}
main .qualification-section #qualification .qualification-title {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 2.5rem;
  color: var(--TextColor);
  position: relative;
  z-index: 1;
}
main .qualification-section #qualification .qualification-title .block {
  bottom: 0;
  right: 0;
}
main .qualification-section #qualification .qualification-cards {
  width: 100%;
}
main .qualification-section #qualification .qualification-cards hr {
  height: 2px;
  border: none;
  background-color: var(--mainColor);
  color: var(--mainColor);
}
main .qualification-section #qualification .qualification-cards .qualification-card {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 30px;
  font-family: "Noto Sans TC", serif;
}
main .qualification-section #qualification .qualification-cards .qualification-card:first-child {
  margin-top: 4rem;
}
main .qualification-section #qualification .qualification-cards .qualification-card .education-icon, main .qualification-section #qualification .qualification-cards .qualification-card .work-icon {
  width: 1.8rem;
  margin-right: 1rem;
}
main .qualification-section #qualification .qualification-cards .qualification-card .icon {
  width: 1.2rem;
  height: 1.2rem;
}
main .qualification-section #qualification .qualification-cards .qualification-card .card-title {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.3rem;
  font-family: "Lustria", serif;
  font-weight: 500;
  color: var(--white);
  display: flex;
  align-items: center;
  position: relative;
}
main .qualification-section #qualification .qualification-cards .qualification-card .card-title::after {
  content: "";
  height: 10px;
  position: absolute;
  bottom: 3px;
  left: 45px;
  right: -10px;
  background-color: var(--mainColor);
  border-radius: 10px;
  z-index: -1;
}
main .qualification-section #qualification .qualification-cards .qualification-card .card-title svg {
  margin-right: 12px;
}
main .qualification-section #qualification .qualification-cards .qualification-card .card-title svg path {
  fill: var(--TextColor);
}
main .qualification-section #qualification .qualification-cards .qualification-card h2 {
  font-size: 1.1rem;
  margin: 10px 0 5px;
  padding: 4px 0;
  font-weight: 400;
  color: var(--white);
}
main .qualification-section #qualification .qualification-cards .qualification-card h3 {
  padding: 4px 0;
  font-size: 0.9rem;
  color: var(--SecondWhite);
  display: flex;
  align-items: center;
}
main .qualification-section #qualification .qualification-cards .qualification-card h3 svg {
  margin-right: 8px;
}
main .qualification-section #qualification .qualification-cards .qualification-card h3 svg path {
  fill: var(--SecondWhite);
}
main .learning-experience-section {
  background-color: var(--MainBGBlack);
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}
main .learning-experience-section .learning-experience .learning-experience-title {
  width: 100%;
  text-align: center;
}
main .learning-experience-section .learning-experience .learning-experience-title .learning-experience-title-describe {
  padding-top: 60px;
  font-size: 0.8rem;
  color: var(--DescribeColor);
}
main .learning-experience-section .learning-experience .learning-experience-title .learning-experience-title-main {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: var(--TextColor);
  font-size: 2.2rem;
  position: relative;
  z-index: 1;
}
main .learning-experience-section .learning-experience .learning-experience-title .learning-experience-title-main > span {
  display: block;
}
main .learning-experience-section .learning-experience .learning-cards {
  padding-bottom: 3rem;
  width: 100%;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card {
  width: 90%;
  margin: 2.5rem auto;
  background-color: var(--learningCard-background);
  box-shadow: 16px 12px 12px 5px var(--learningCard-boxshadow);
  border-radius: 24px 24px 36px 36px;
  font-family: "Noto Sans TC", serif;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card .alphacamp-image {
  width: 100%;
  height: 280px;
  background-image: url("./images/alpha-logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 1px solid #c9c9c9;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card .udemy-image {
  width: 90%;
  height: 280px;
  margin: 0 auto;
  background-image: url("./images/Udemy-logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card .describe {
  background-color: var(--learning-describe-bg);
  border-radius: 0 0 24px 24px;
  border-top: 1px solid #c9c9c9;
  color: var(--TextColor);
  padding: 0 12px;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card .describe h1 {
  margin: 12px 0;
  font-size: 1.5rem;
  font-weight: 700;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card .describe .learning-card-describle {
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
main .learning-experience-section .learning-experience .learning-cards .learning-card .describe .learn-more-btn {
  margin: 1.2rem 0;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: var(--mainColor);
  font-size: 1.15rem;
  cursor: pointer;
}
main .skills-section {
  background-color: var(--SecondBGBlack);
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}
main .skills-section .skills {
  padding-bottom: 80px;
}
main .skills-section .skills .skills-title {
  text-align: center;
}
main .skills-section .skills .skills-title-describe {
  padding-top: 60px;
  font-size: 0.8rem;
  color: var(--DescribeColor);
}
main .skills-section .skills .skills-title-main {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  font-size: 3rem;
  color: var(--TextColor);
}
main .skills-section .skills .skills-title-frontend, main .skills-section .skills .skills-title-backend {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 2.3rem;
  font-size: 1.35rem;
  letter-spacing: 1px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  color: var(--TextColor);
  position: relative;
  z-index: 1;
}
main .skills-section .skills .skills-title-frontend::after, main .skills-section .skills .skills-title-backend::after {
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 15px;
  background-color: var(--mainColor);
  border-radius: 10px;
  z-index: -1;
}
main .skills-section .skills .skills-cards {
  width: 80%;
  margin: 2rem auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
}
main .skills-section .skills .skills-cards .skills-card {
  padding: 5px;
  background-color: inherit;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .skills-section .skills .skills-cards .skills-card::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 12px 12px 16px 0 var(--skills-card-boxshadow);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
main .skills-section .skills .skills-cards .skills-card h1 {
  font-family: "Teko";
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: var(--TextColor);
}
main .skills-section .skills .skills-cards .skills-card h2 {
  font-family: serif;
  font-size: 1.1rem;
  color: var(--describe-h2);
}
main .skills-section .skills .skills-cards .skills-card .skills-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #d1ad8a;
  box-shadow: 0 0 5px 1px #d1ad8a;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .skills-section .skills .skills-cards .skills-card .skills-img .skills-icon {
  width: 3.5rem;
}/*# sourceMappingURL=style.css.map */