
@font-face {
  font-family: 'Lustria';
  src: url('/fonts/Lustria-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Share Tech Mono';
  src: url('/fonts/ShareTechMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display SC';
  src: url('/fonts/PlayfairDisplaySC-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Arphic Kaiti';
  src: url('/fonts/KAI00MP.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  src: url('/fonts/NotoSansTC-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'BenchNine';
  src: url('/fonts/BenchNine-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Adamina';
  src: url('/fonts/Adamina-Regular.ttf') format('truetype');
}

$FirstWhite: #f0f0f0;
$SecondWhite: #f8f8f8;
$white: #c9c9c9;
$mainColor: rgba(110, 91, 72, 0.9);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.block {
  width: 50px;
  height: 50px;
  background-color: rgba(247, 118, 118, 0.5);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  &::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: rgba(128, 181, 197, 0.7);
    position: absolute;
    top: -10px;
    right: 15px;
  }
}


#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* 確保 loading 在最上層 */
  .loading-icon {
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: #dedede;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 999;
  width: 100%;
  height: 60px;
  background-color: transparent;
  transition: color .3s ease-in-out;
  border-radius: 0 0 10px 10px;
  nav {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    
    .nav-title {
      font-size: 2rem;
      margin-left: 20px;
      font-family: 'Playfair Display SC', serif;
      letter-spacing: 3px;
      z-index: 2;
    }
    ul {
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      transform: scale(1, 0);
      transition: transform .4s ease-in-out;
      transform-origin: top;

      &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        z-index: -1;
      }

      li:last-child {
        margin-bottom: 60px;
      }

      li {
        width: 100%;
        padding: 15px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-menu {
          width: 100%;
          color: #333;
          font-size: 2rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          hr {
            width: 100%;
            height: 2px;
            margin-top: 15px;
            background-color: #333;
            border: none;
          }
        }
        a {
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: 550;
          font-family: 'Lustria', serif;
          color: #333;
          position: relative;
        }
      }
    }
    .menu-toggle {
      height: 20px;
      width: 20px;
      margin-right: 20px;
      z-index: 3;

      display: flex;
      justify-content: center;
      align-items: center;
      .menu-icon {
        height: 25px;
        width: 25px;
        display: block;
      }
      .close-icon {
        height: 25px;
        width: 25px;
        display: none;
      }
    }
  }
}

.cover {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .bg-img-wrapper {
    height: 100vh;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    position: absolute;
    z-index: -2;
    .bg-img {
      overflow: hidden;
      width: 100%;
      min-height: 100vh;
      background-image: url("https://microbot.ch/new/wp-content/uploads/2017/11/signal_lost_microbot_ch.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      z-index: -2;
      color: $white;
      position: absolute;
    
      &::after {
        content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%);
      pointer-events: none;
      }
    }
  }
  .title {
    font-size: 2.5rem;
    font-family: 'Teko', sans-serif;
    color: #bdc591;
    text-shadow: 0 0 20px #eaf89a;
    letter-spacing: 10px;
    text-align: center;
    & span {
      display: block;
    }
  }
  .title-scroll {
    font-size: .6rem;
    letter-spacing: 3px;
    color: $white;
    position: relative;
    top: calc(50vh - 25%);
  }
}

main {
  width: 100%;
  font-family: 'Playfair Display SC', serif;
  position: relative;
  .top {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 999;
    background-color: #d1ad8a;
    border-radius: 50%;
    display: none;
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  .about-me-section {
    background-color: $FirstWhite;
  }
  .about-me {
    min-height: 100vh;
    .about-me-describe {
      width: 100%;
      text-align: center;
      padding: 80px 0 0;
      margin-bottom: -10px;
      font-size: .9rem;
    }
    .about-me-title {
      width: fit-content;
      margin: 0 auto;
      padding: 10px;
      padding-top: 0;
      text-align: center;
      font-size: 3rem;
      position: relative;
      z-index: 1;
    }
    .about-me-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: max(260px) 1fr;
      justify-items: center;
      align-items: center;
      .about-me-img-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        &::before,
        &::after {
          content: '';
          width: 50px;
          height: 50px;
          position: absolute;
          border: 3px solid $mainColor;
        }
        &::before {
          top: 40px;
          left: 0;
          border-right: 0;
          border-bottom: 0;
        }
        &::after {
          bottom: 0;
          right: 0;
          border-top: 0;
          border-left: 0;
        }
        img {
          max-width: 100%;
          height: 100px;
          position: absolute;
          bottom: 30px;
          left: calc(50% - 140px);
          opacity: 0;
        }
      }
    }
    .about-me-banner {
      padding: 0 20px 10px;
      color: #444;
      grid-row: 2;
      align-self: start;
      font-family: 'BenchNine' ,'Noto Sans TC', serif;
      position: relative;
      z-index: 3;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .intro {
        font-size: 1.2rem;
        padding: 8px 20px 4px;
        border-bottom: 2px solid $mainColor;

        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(1) {
          letter-spacing: 1.5px;
          padding-top: 15px;
        }
        &:nth-child(2) {
          letter-spacing: 1.5px;
        }
        &:nth-child(3) {
          letter-spacing: 1px;
          margin-bottom: 20px;
        }
        img {
          margin-right: 10px;
          width: 1.5rem;
        }
      }

      .profile-paragraph {
        width: 100%;
        margin: 20px 0 5rem;
        background-color: #fcfcfc;
        border-radius: 10px;
        position: relative;
        font-family: 'BenchNine', 'Noto Sans TC', serif;
        letter-spacing: .5px;
          &::after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 15px;
          left: 15px;
          border: 3px solid $mainColor;
          border-radius: 10px;
          z-index: -1;
        }
        .profile-title {
          width: 80%;
          margin: 0 auto;
          padding: 10px 0;
          font-size: 2rem;
          letter-spacing: 2px;
          text-align: center;
          border-bottom: 2px solid #444;
        }
      }
      .profile {
        margin: 10px;
      }
      .block-profile {
        width: 230px;
        height: 380px;
        border: 4px solid rgba(247, 118, 118, 0.5);
        position: absolute;
        top: 0px;
        left: 30px;
        z-index: -1;
         &::before {
          content: '';
          width: 100%;
          height: 100%;
          background-color: rgb(255, 222, 172);
          position: absolute;
          top: 20px;
          left: -30px;
          z-index: -2;
        }
      }
    }
  }

  .qualification-section {
    background-color: $SecondWhite;
    padding-bottom: 80px;
    .qualification {
      padding-top: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .qualification-title-describe {
        font-size: .8rem;
        text-align: center;
        letter-spacing: 1px;
      }
      .qualification-title {
        width: fit-content;
        margin: 0 auto;
        font-size: 2.5rem;
        position: relative;
        z-index: 1;
        .block {
          bottom: 0;
          right: 0;
        }
      }
      .cards {
        width: 100%;
        .card {
          width: 80%;
          margin: 0 auto;
          margin-top: 2rem;
          padding-bottom: 30px;
          font-family: 'Noto Sans TC', serif;
          &:first-child {
            margin-top: 4rem;
          }
          .education-icon, .work-icon {
            width: 1.8rem;
            margin-right: 1rem;
          }
          .icon {
            width: 1.2rem;
            height: 1.2rem;
            
          }
          .title {
            width: fit-content;
            font-size: 1.3rem;
            font-family: 'Lustria', serif;
            font-weight: 700;
            color:#664519;
            display: flex;
            align-items: center;
            position: relative;
            &::after {
              content: '';
              height: 10px;
              position: absolute;
              bottom: 5px;
              left: 30px;
              right: -10px;
              background-color: #c79095ab;
              border-radius: 10px;
              z-index: -1;
            }
          }
          h2 {
            font-size: 1rem;
            margin: 10px 0 5px;
            padding: 4px 0;
            color: #725735;
          }
          h3 {
            padding: 4px 0;
            font-size: .7rem;
            color: #666;
          }
        }
      }
    }
  }

  .learning-experience-section {
    background-color: $FirstWhite;
    .learning-experience {
      .learning-experience-title {
        width: 100%;
        text-align: center;
        .learning-experience-title-describe {
          padding-top: 60px;
          font-size: .8rem;
        }
        .learning-experience-title-main {
          width: fit-content;
          margin: 0 auto;
          font-size: 2.2rem;
          position: relative;
          z-index: 1;
          & > span {
            display: block;
          }
        }
      }
      .learning-cards {
        padding-bottom: 3rem;
        width: 100%;
        .learning-card {
          width: 90%;
          margin: 2.5rem auto;
          background-color: #fbfbfb;
          box-shadow: 24px 24px 24px 0 #c9c9c9;
          border-radius: 24px;
          font-family: 'Noto Sans TC', serif;
          .alphacamp-image {
            width: 100%;
            height: 280px;
            background-image: url('./images/alpha-logo.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            border-bottom: 1px solid #c9c9c9;
          }
          .udemy-image {
            width: 90%;
            height: 280px;
            margin: 0 auto;
            background-image: url('./images/Udemy-logo.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .describe {
            background-color: #f5f6f7;
            border-radius: 0 0 24px 24px;
            border-top: 1px solid #c9c9c9;
            padding: 0 12px;
            h1 {
              margin: 12px 0;
              font-size: 1.5rem;
              font-weight: 700;
            }
            .learning-card-describle {
              height: 24px;
              font-size: 1.15rem;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .learn-more-btn {
              margin: 1.2rem 0;
              padding: 10px 15px;
              border: none;
              border-radius: 10px;
              color: #fff;
              background-color: #beaaa0;
              font-size: 1.15rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .skills-section {
    background-color: $SecondWhite;
    .skills {
      padding-bottom: 16px;
      .skills-title {
        text-align: center;
        &-describe {
          padding-top: 60px;
          font-size: .8rem;
        }
        &-main {
          width: fit-content;
          margin: 0 auto;
          position:relative;
          z-index: 1;
          font-size: 3rem;
        }
        &-frontend,
        &-backend {
          width: fit-content;
          margin: 0 auto;
          text-align: center;
          margin-top: 2.3rem;
          font-size: 1.25rem;
          font-family: serif;
          font-weight: 600;

          position: relative;
          z-index: 1;
          &::after {
            content: '';
            height: 10px;
            width: 100%;
            position: absolute;
            bottom: 0px;
            left: 10px;
            background-color: #c79095ab;
            border-radius: 10px;
            z-index: -1;
          }
        }
      }
      .skills-cards {
        width: 80%;
        margin: 2rem auto;
        position: relative;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 20px;
        .skills-card {
          padding: 5px;
          background-color: inherit;
          border-radius: 25px;
          position: relative;
          z-index: 1;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &::after {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 25px;
            box-shadow: 8px 4px 24px 0 #c9c9c9;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
          }
          h1 {
            font-family: 'Teko';
            letter-spacing: 1px;
            font-size: 1.3rem;
          }
          h2 {
            font-family: serif;
            font-size: 1.1rem;
            color: #5e5e5e;
          }
          .skills-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid #d1ad8a;
            box-shadow: 0 0 5px 1px #d1ad8a;
            background-color: #fafafa;
            display: flex;
            justify-content: center;
            align-items: center;
            .skills-icon {
              width: 3.5rem;
            }
          }
        }
      }
    }
  }
}



