
@font-face {
  font-family: 'Lustria';
  src: url('/fonts/Lustria-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Share Tech Mono';
  src: url('/fonts/ShareTechMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display SC';
  src: url('/fonts/PlayfairDisplaySC-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Arphic Kaiti';
  src: url('/fonts/KAI00MP.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  src: url('/fonts/NotoSansTC-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'BenchNine';
  src: url('/fonts/BenchNine-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Adamina';
  src: url('/fonts/Adamina-Regular.ttf') format('truetype');
}

$headerHeight : 60px;
$white: #c9c9c9;
$red: red;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.block {
  width: 50px;
  height: 50px;
  background-color: rgba(247, 118, 118, 0.5);
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: -1;
  &::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: rgba(128, 181, 197, 0.7);
    position: absolute;
    top: -10px;
    right: 15px;
  }
}


#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* 確保 loading 在最上層 */
  .loading-icon {
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: #dedede;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: $headerHeight;
  color: $white;
  transition: color .3s ease-in-out;
  border-radius: 0 0 5px 5px;
  nav {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    
    .nav-title {
      font-size: 2rem;
      margin-left: 20px;
      font-family: 'Share Tech Mono', monospace;
      letter-spacing: 3px;
      z-index: 2;
    }
    ul {
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      transform: scale(1, 0);
      transition: transform .4s ease-in-out;
      transform-origin: top;

      &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
        z-index: -1;
      }

      li:first-child {
        margin-top: 60px;
      }

      li {
        width: 100%;
        padding: 15px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-menu {
          width: 100%;
          color: $white;
          font-size: 2rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          hr {
            width: 100%;
            margin-top: 15px;
          }
        }
        a {
          text-decoration: none;
          font-size: 1rem;
          font-family: 'Lustria', serif;
          color: $white;
          position: relative;
          // &::after {
          //   content: '';
          //   position: absolute;
          //   bottom: -3px;
          //   left: 0;
          //   width: 100%;
          //   height: 2.5px;
          //   background-color: $white;
          //   transform: scale(0,1);
          //   transition: transform .3s ease-in-out;
          // }
          &:hover::after {
            transform: scale(1,1);
          }
        }
      }
    }
    .menu-toggle {
      height: 20px;
      width: 20px;
      margin-right: 20px;
      z-index: 3;

      display: flex;
      justify-content: center;
      align-items: center;
      .menu-icon {
        height: 25px;
        width: 25px;
        display: block;
      }
      .close-icon {
        height: 25px;
        width: 25px;
        display: none;
      }
    }
  }
}

.cover {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .bg-img-wrapper {
    height: 100vh;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    position: absolute;
    z-index: -2;
    .bg-img {
      overflow: hidden;
      width: 100%;
      min-height: 100vh;
      background-image: url("https://microbot.ch/new/wp-content/uploads/2017/11/signal_lost_microbot_ch.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      z-index: -2;
      color: $white;
      position: absolute;
    
      &::after {
        content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%);
      pointer-events: none;
      }
    }
  }
  .title {
    font-size: 2.5rem;
    font-family: 'Teko', sans-serif;
    color: #bdc591;
    text-shadow: 0 0 20px #eaf89a;
    letter-spacing: 10px;
    text-align: center;
    & span {
      display: block;
    }
  }
  .title-scroll {
    font-size: .6rem;
    letter-spacing: 3px;
    color: $white;
    position: relative;
    top: calc(50vh - 25%);
  }
}

main {
  width: 100%;
  font-family: 'Playfair Display SC', serif;
  .about-me-section {
    background-color: #e4e4e4;
  }
  .about-me {
    min-height: 100vh;
    .about-me-describe {
      width: 100%;
      text-align: center;
      padding: 80px 0 0;
      margin-bottom: -10px;
      font-size: .9rem;
    }
    .about-me-title {
      padding: 10px;
      padding-top: 0;
      text-align: center;
      font-size: 3rem;
      position: relative;
      z-index: 1;
    }
    .about-me-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 6fr;
      justify-items: center;
      align-items: center;
      .about-me-img-wrapper {
        position: relative;
        height: 80%;
        width: 100%;
        &::before,
        &::after {
          content: '';
          width: 50px;
          height: 50px;
          position: absolute;
          border: 3px solid #96725e;
        }
        &::before {
          top: 40px;
          left: 0;
          border-right: 0;
          border-bottom: 0;
        }
        &::after {
          bottom: 0;
          right: 0;
          border-top: 0;
          border-left: 0;
        }
        img {
          max-width: 100%;
          height: 100px;
          position: absolute;
          bottom: 30px;
          left: calc(50% - 140px);
          opacity: 0;
        }
      }
      .about-me-banner {
        padding: 0 20px 10px;
        color: #444;
        grid-row: 2;
        align-self: start;
        font-family: 'BenchNine' ,'Noto Sans TC', serif;
        position: relative;
        z-index: 3;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .intro {
          font-size: 1.2rem;
          padding: 5px 0;
          border-bottom: 2px solid #96725e;
          border-radius: 2px;
        }
        img {
          height: 1rem;
        }

        .profile-paragraph {
          width: 100%;
          margin: 20px 0 5rem;
          background-color: #fcfcfc;
          position: relative;
          border-radius: 10px;
          font-family: 'BenchNine', serif;
          &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 15px;
            left: 15px;
            border: 3px solid #8d683e;
            z-index: -1;
          }
          .profile-title {
            width: 80%;
            margin: 0 auto;
            padding: 10px 0;
            font-size: 2rem;
            letter-spacing: 2px;
            text-align: center;
            border-bottom: 2px solid #444;
          }
        }
        .profile {
          margin: 10px;
        }
        .block-profile {
          width: 230px;
          height: 380px;
          border: 4px solid rgba(247, 118, 118, 0.5);
          position: absolute;
          top: 0px;
          left: 30px;
          z-index: -1;
          &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgb(255, 222, 172);
            position: absolute;
            top: 20px;
            left: -30px;
            z-index: -2;
          }
        }
      }
    }
  }

  .qualification-section {
    background-color: #f0f0f0;
    .qualification {
      padding-top: 80px;
      .qualification-title-describe {
        font-size: .8rem;
        text-align: center;
      }
      .qualification-title {
        font-size: 2.5rem;
        text-align: center;
        position: relative;
        z-index: 1;
      }
    }
  }
}



